<h1>All Entries</h1>

<%= @microposts.each do |micropost|%>
<div class="post">
<h1 style="text-align: left">
	<%= link_to micropost.title, micropost %>
</h1>
<p class="lead">
	by <%= link_to micropost.user.name, micropost.user %>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(micropost.created_at) %> ago.</p>
<p><%= micropost.content %> </p>

<%= link_to "Read More", micropost , class: "btn btn-primary" %>
<hr>
</div>
<% end %>

 <%= will_paginate @microposts %>